<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/box-model.css">
  <title>Box Model</title>
</head>
<body>
  <h1 class="box">
    Text
  </h1>

  <div class="radius">
    <p>Radius</p>
  </div>

  <br>

  <div class="max-min">
    <p>Max and Min</p>
  </div>

  <br>

  <div class="box-shadow">
    <p>Box Shadow</p>
  </div>

</body>
</html>