<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/fonts.css">
  <title>Document</title>
</head>
<body>
  <p class="curves-font">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, necessitatibus ab nulla cumque ex dolores quos eos adipisci et, dolor labore atque est voluptates, ullam nobis recusandae odio quaerat illo?
  </p>

  <p class="font-style">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ex fuga excepturi nulla expedita laboriosam culpa minus amet totam placeat blanditiis quia, corrupti dolorum veritatis inventore distinctio aperiam, molestiae exercitationem?
  </p>

  <p class="font-variant">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores nostrum magnam neque aut, omnis velit, rem, eligendi praesentium expedita porro consectetur exercitationem amet quod dicta? Fugit dolor quis exercitationem fuga.
  </p>

  <p class="font-weight">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nostrum laboriosam non, qui necessitatibus itaque. Aliquam, accusantium non reprehenderit laboriosam dolores nemo ducimus aliquid ea cumque harum aut inventore ut.
  </p>

  <p class="font-size">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, praesentium. Porro veritatis perspiciatis amet distinctio? Adipisci nostrum totam, repudiandae voluptatibus minima voluptates aspernatur numquam quae ratione asperiores nesciunt aperiam cum?
  </p>

  <p class="font-strech">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cumque quisquam ducimus atque consequatur corrupti quia exercitationem nihil cupiditate aperiam laboriosam sed, odit numquam a distinctio. Distinctio, rem vitae. Incidunt?
  </p>
</body>
</html>