<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/fonts.css">
  <title>Document</title>
</head>
<body>
  <p class="curves-font">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, necessitatibus ab nulla cumque ex dolores quos eos adipisci et, dolor labore atque est voluptates, ullam nobis recusandae odio quaerat illo?
  </p>

  <p class="font-style">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ex fuga excepturi nulla expedita laboriosam culpa minus amet totam placeat blanditiis quia, corrupti dolorum veritatis inventore distinctio aperiam, molestiae exercitationem?
  </p>
</body>
</html>