<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Document</title>
</head>
<body>

  <h1>Title</h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, mollitia tempore totam fugiat accusamus nostrum dignissimos. Placeat sunt ullam deserunt quasi, vitae asperiores perspiciatis modi quibusdam doloribus ipsum id neque.</p>

  <span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ducimus rerum exercitationem perferendis molestias modi saepe inventore blanditiis ipsum, similique eum pariatur rem culpa dolorum natus numquam deleniti repellendus? Soluta?
  </span>
  
  <style>
    span {
      color: green;
    }
  </style>
</body>
</html>