<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/letters_words_lines.css">
  <title> letters_words_lines </title>
</head>

<body>
  <p class="letter-spacing">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias quisquam provident deserunt suscipit iusto
    voluptates nesciunt necessitatibus dolorem blanditiis quasi voluptas sed incidunt, nulla voluptate assumenda
    doloremque repellendus officiis voluptatem?
  </p>

  <p class="word-spacing">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel enim corrupti fuga quisquam dicta fugiat at accusamus
    eveniet minima, cupiditate necessitatibus, ullam dolor odio ducimus aliquam. Ipsa nihil aspernatur libero.
  </p>

  <p class="line-height">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eaque rerum harum facere quae ratione similique
    distinctio tempora optio ad quam consectetur mollitia recusandae rem, velit perspiciatis alias ipsa animi!
  </p>

  <p class="white-space">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolorum perspiciatis adipisci rerum reprehenderit ullam eveniet nemo, fugit laboriosam itaque maxime. Voluptate non eos earum velit. Nesciunt ea sunt aspernatur.
  </p>
</body>

</html>