<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/lists.css">
  <title>Lists</title>
</head>
<body>
  <ul class="course-list">
    <li>Curso de CSS3</li>
    <li>Curso de CSS3</li>
    <li>Curso de CSS3</li>
    <li>Curso de CSS3</li>
  </ul>

  <ul class="inside-list">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, pariatur inventore nulla natus rerum omnis quas officia impedit  "<b>inside</b>" beatae qui ratione magni vitae voluptatum eligendi. Veritatis magni sed rerum cumque.</li>
    <li>Trainning css positions</li>
  </ul>

  <ul class="outside-list">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, pariatur inventore nulla natus rerum omnis quas officia impedit  "<b>outside</b>" beatae qui ratione magni vitae voluptatum eligendi. Veritatis magni sed rerum cumque.</li>
    <li>Trainning css positions</li>
  </ul>

  <ul class="list-style-type">
    <li> Item 1 </li>
    <li> Item 2 </li>
    <li> Item 3 </li>
    <li> Item 4 </li>
  </ul>

</body>
</html>