<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/selectors.css">
  <title>Selectors</title>
</head>
<body>
  <div id="div1" class="class1"> A </div>
  <div id="div2" class="class2"> B </div>
  <p> C</p>

  <input type="text" readonly>
  <input type="text" value="5">
  <input type="text" value="8">
  

  <div class="minhalista primaria">
    <div class="stilo2">
      <span>A</span>
      <span>1</span>
    </div>
    <div class="stilo2">
      <span>B</span>
      <span>2</span>
    </div>
    <div class="stilo2">
      <span>C</span>
      <span>3</span>
    </div>
    
  </div>
</body>
</html>