<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/tables.css">
  <title>Tables</title>
</head>
<body>
  <table class="table">
    <caption>Alunos</caption>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amábile</td>
        <td>Silva</td>
        <td></td>
      </tr>
      <tr>
        <td>Cléo</td>
        <td>Souza</td>
        <td>28</td>
      </tr>
      <tr>
        <td>João</td>
        <td>Pereira</td>
        <td>25</td>
      </tr>
    </tbody>
  </table>
</body>
</html>