<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../styles/text.css">
  <title>Working with Texts </title>
</head>

<body>
  <p class="color-text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae eveniet unde dolore error cupiditate perspiciatis
    nobis veniam facere! Ab officia voluptatum quae impedit aliquid enim repellat deleniti voluptas quaerat quibusdam.
  </p>

  <p class="text-indent">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae explicabo omnis architecto quae est officiis?
    Molestiae accusamus, unde quod doloribus consequatur voluptatum maiores omnis sint similique, eaque recusandae
    libero quas?
  </p>

  <p class="left">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis nobis facere aspernatur reiciendis labore eum
    minus facilis, est quaerat ea nemo laudantium sequi eius enim? Sunt nam impedit eos. Amet.
  </p>

  <p class="right">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, hic? Ut, aspernatur voluptas culpa omnis,
    itaque fugit dolorem dolorum error earum velit quaerat nisi quibusdam quisquam quam sed distinctio delectus!
  </p>

  <p class="center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aperiam explicabo cupiditate distinctio,
    eligendi dolores enim nobis ex, et earum omnis provident dicta amet minima reiciendis, illum rem iure adipisci?
  </p>

  <p class="text-justify">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed soluta sint aut, perferendis dolorum voluptas odit.
    Ipsa, officiis placeat iure quis culpa aut ratione earum, velit commodi, modi harum nostrum.
  </p>

  <p class="line-throught">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quibusdam ipsa corrupti, nemo autem enim
    doloremque adipisci fugit quod veniam minima distinctio veritatis ullam similique voluptate, nobis nam! Sapiente,
    debitis!
  </p>

  <p class="overline">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed itaque inventore possimus excepturi obcaecati
    deleniti sit quae modi. Tempora, facere? Nam sed repudiandae autem veritatis quisquam optio rem quas nemo.
  </p>

  <p class="underline">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam tempora reprehenderit odio pariatur, blanditiis
    illum natus, vero ipsum commodi excepturi maxime qui nesciunt. Enim voluptates eligendi sequi, sint soluta ducimus.
  </p>

  <p class="letter">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, blanditiis. Mollitia aperiam ratione, obcaecati a molestiae repellendus impedit quo, consequuntur dignissimos enim voluptas rerum. Ex eius aperiam quia doloremque dolores!
  </p>

<p class="text-shadow">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in corporis laboriosam blanditiis, voluptatibus aperiam, deserunt officiis suscipit autem beatae omnis provident. Provident minus maxime totam sunt accusamus explicabo facilis?
</p>


</body>

</html>