<p yellowBg>
  Texto com fundo amarelo
</p>

<button type="" yellowBg>Botao com fundo amarelo</button>

<p highlightMouse>
  Texto com highlight quando eu passo o mouse
</p>

<p [highlight]=" 'red' " [defaultColor]=" 'grey' ">Texto com highlight com cores customizadas</p>


<div *ngIf="mostrarCursos">
  <h2>Nao a cursos a serem listados</h2>
</div>

<br>

<div *ngElse="mostrarCursos">
  <h2>Nao a cursos a serem listados</h2>
</div>

<br>

<template [ngElse]="mostrarCursos"> <!-- Chamada com estrutura de input property e template -->
  <div>
    <h2>Nao a cursos a serem listados</h2>
  </div>
</template>

<button type="" (click)="onMostrarCursos()">Mostrar Cursos</button>
