<div class="container">

  <section class="property-binding">

    <article>
      <h3> Interpolação</h3>
      <p>String renderizada com Interpolação <a href="">{{ url }}</a></p>
      <p>Resolução de expressoes com Interpolação como por exeplo 1 + 1 = {{ 1 + 1 }} </p>
      <p>Chamada de metodo com Interpolação {{ 1 + 1 + getValor() }}</p>
      <p> Curso de angular e gosto do curso : {{ cursoAngular && getCurtirCurso() }}</p>
    </article>

    <article>
      <div class="card" style="width: 20rem; padding: 1em; border: 1px solid black; border-radius: 15px;">
        <img class="card-img-top img-responsive" [src]="urlImagem" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </article>

  </section>

  <section class="class-and-styles-binding">
    <article>
      <h3>Class e Style Binding</h3>
      <div>
        Selecione uma classe :
        <select #classe (change)="0"> <!--0 para que o template nao escute nenhum metodo vindo do component-->
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option>
        </select>
        <br><br>

        <h1>teste</h1>

        <!--O bing é chamado a partie do value da combobox, como a classe ja esta declarada em value ela é omitida na chamada-->
        <div class="alert {{classe.value}} " role="alert">
          Teste colorido de acordo com o combobox
        </div>

        <!--Aplique a classe se o valor vindo do combobox for igual a classe selecionada-->
        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
          chamada para sucesso
        </div>

        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
          chamada para informação
        </div>

        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
          chamada para alerta
        </div>

        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
          chamada para erro
        </div>

        <!--Property bind de estilo chamado implicitamente com o combobox validando a chamada lógica-->
        <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
          So aparece com caso alert-danger selecionado
        </div>

      </div>
    </article>
  </section>

  <section class="event-binding">

    <article>
      <h3>Event Binding</h3>
      <button class="btn btn-primary" (click)="botaoClicado()">Clique aqui</button>

      <br><br>

      <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)"
        #campoInput />
      <p>Valor digitado : {{ valorAtual }}</p>
      <p>Valor Salvo : {{ valorSalvo }}</p>

      <br>
      <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
        Evento com mouse
      </span>
    </article>
  </section>

  <app-meu-form> </app-meu-form>

  <section class="input-output-properties">
    <article>
      <h3> Input/Output Properties</h3>
      <app-curso [nome]="nomeDoCurso"></app-curso>

      <contador [valor]="valorInicial"
      (mudouValor)="onMudouValor($event)"
      ></contador>
    </article>
  </section>

</div>
