<div class="container">

  <section>
    <article>
      <a>Site para o acesso : {{ url }}</a>
      <!--Chamada com interpolação-->
      <p> E possivel ainda fazer calculos no binding, 1 + 1 = {{ 1 + 1 }}</p>
    </article>

    <img [src]="img">
    <!--Chamada com property binding-->
    <br>
    <br>

    <select #classe (change)="0">
      <option value="alert-success">Success</option>
      <option value="alert-info">Info</option>
      <option value="alert-warning">Warning</option>
      <option value="alert-danger">Danger</option>
    </select>

    <article>

      <div class="alert {{classe.value}}" role="alert">
        Texto colorido conforme o valor do combo box
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">
        <!--Se o valor selecionado na combox box é igual a classe, entao aplique a propriedade-->
        <strong>Success!</strong> Indicates a successful or positive action.
      </div>

      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">
        <strong>Info!</strong> Indicates a neutral informative change or action.
      </div>

      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">
        <strong>Warning!</strong> Indicates a warning that might need attention.
      </div>

      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
      </div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        <strong>Texto só aparece em caso de erro</strong>
      </div>

    </article>

  </section>

  <section class="event-binding">

    <article>
      <h3>Event Binding</h3>

      <div>
        <button class="btn btn-primary" (click)="botaoClicado()">
          Me clique
        </button>
      </div>
      <br>
      <br>

      <input type="text" 
        (keyup)="escreveNaTela($event)" 
        (keyup.enter)="salvarValor(campoInput.value)" 
        (blur)="salvarValor(campoInput.value)" #campoInput /> <!--Variavel sobrescreve o $event.target-->

      <p>Valor atual : {{ valorAtual }}</p>
      <p>Valor salvo : {{ valorSalvo }}</p>


      <br>
      <p 
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver" 
        >
          Passe o mouse sobre mim
      </p>
    </article>

  </section>

</div>