<div class="jumbotron">
	<div class="text-center">
		<h1>Alurapic</h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="input-group">
					<span class="input-group-btn">
						<a [routerLink]="['/cadastro']" class="btn btn-primary">
							Nova Foto
						</a>
					</span>
					<input #textoProcurado (keyup)="0" type="text" class="form-control" placeholder="Filtrar pelo titulo da foto">
					<!--# define a criação de uma variavel local que pode ser utilizada no template como um todo-->
				</div>
			</form>
		</div>
	</div>

	<br/>

	<div class="row">
		<painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
			<foto url="{{foto.url}}" titulo={{foto.titulo}} class="responsive-img"></foto>
		</painel>
	</div>


</div>