<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="container">

    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']" class="btn btn-primary">
                            Nova foto
                        </a>
                    </span>
                    <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo título da foto">
                </div>
            </form>
        </div> <!-- fim col-md-12 -->
    </div> <!-- fim row -->
    <br>

    <div class="row">
        <painel #painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase }}" class="col-md-2">
            <a [routerLink]="['/cadastro', foto._id]">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </a>
            
            <botao nome="Remover" estilo="btn-danger btn-block" (acao)="modal.show()" [confirmacao]="false"></botao>
            <modal #modal frase="Tem certeza que deseja remover esta foto?" (confirma)="remove(foto, painel)"></modal>

        </painel>
    </div>
</div>