<% include ../includes/header.ejs %>

<div class="container">
    <form action="/usuario" method="POST">

        <label for="basic-url">Email:</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="marco.bruno@caleum.com.br" aria-describedby="basic-addon2">
        </div>

        <label for="basic-url">Senha:</label>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="********" aria-describedby="basic-addon2">
        </div>

        <input type="submit" value="Enviar" class="btn btn-success">
    </form>
</div>

<% include ../includes/footer.ejs %>
