.counter-reset {
  counter-reset: meuContador;
  /* counter reset , zera o contador */
}

.print-counter::after {
  content: counter(meuContador)
}

.up-counter {
  counter-increment: meuContador;
}

.up-counter:hover {
  counter-increment: meuContador;
}

.menu {
color: #fff;
background-color: #252525;
margin: 0;
padding: 10px;
display: none;
}

.menu-item {
  list-style-type: none;
}

#meuMarcador:checked + .menu {
  display: block;
}