  <div class="row">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s12">
         <input placeholder="Informe o nome do Produto" name="produto" id="produto" type="text" class="validate">
         <label for="produto"></label>
       </div>
     </div>
     <div class="row">
      <div class="input-field col s6">
        <input id="preco" name="preco" type="text" class="validate">
        <label for="preco">Preço</label>
      </div>
      <div class="input-field col s6">
       <input id="tipo" name="tipo" type="text" class="validate">
       <label for="tipo">Tipo</label>
     </div>
   </div>
   <div class="row">
     <button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
     <i class="material-icons right">Cadastrar</i>
    </button>
  </div>
</form>
</div>