<% include ./includes/header.ejs %>

<h1>Home</h1>

<script src="/socket.io/socket.io.js"></script>
<script>
let socket = io()

socket.on('novaPromocao', (result) => {
  alert(result.mensagem)
})
</script>

<% include ./includes/footer.ejs %>
