<div class="container">
  <form class="form-horizontal" [formGroup]="formulario">
    <div class="form-group">
      <div class="col-sm-12">
        <label for="nome" class="control-label">Nome</label>
      </div>
      <div class="col-sm-12">
        <input #nome type="text" class="form-control" formControlName="nome" placeholder="Nome">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <label for="senha" class="control-label">Email</label>
      </div>
      <div class="col-sm-12">
        <input type="email" class="form-control" formControlName="email" placeholder="email">
      </div>
      <br>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary" (click)="showValues()">Enviar</button>
        </div>
      </div>

    </div>
  </form>
</div>