<h1>Styles com property bindings</h1>

<button
  [style.backgroundColor]="ativo ? 'blue' : 'gray'"
  [style.color]="ativo ? 'white' : 'black'"
  [style.fontWeight]="ativo ? 'bold' : 'normal'"
  [style.fontSize]="tamanhoDaFonte + 'px' "
  (click)="mudarAtivo()"
  >
  <h1>Mudar atributo ativo</h1>
</button>

<br>
<br>

<input type="text" ([ngModel])="tamanhoDaFante">


<h5>Styles com diretivas ngStyle</h5>

<button
	[ngStyle]="{
	'backgroundColor': (ativo ? 'blue' : 'gray'),
	'color': (ativo ? 'white' : 'black'),
	'fontWeight': (ativo ? 'bold' : 'normal'),
	'fontSize' : tamanhoDaFante + 'px'
	}" (click)="mudarAtivo()"
>
	BOTOES DIFERENTES MALANDRO
</button>