<div class="container">
  <h1 class="text-center">Cadastro de Foto</h1>
  <br>
  <form [formGroup]="meuForm" (submit)="cadastrar($event)" class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label for="titulo">Titulo</label>
        <!--Dados trazidos pela model com one way data binding model/view-->
        <!--<input (input)="foto.titulo = $event.target.value" [value]="foto.titulo" type="text" class="form-control" autocomplete="off">-->
        <!--Associação do evento input para passar dados da view para model-->

        <input name="titulo" formControlName="titulo" type="text" [(ngModel)]="foto.titulo" class="form-control" autocomplete="off">
        <span *ngIf="meuForm.controls.titulo.invalid" class="form-control alert-danger">
          Titulo invalido
        </span>
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <!--Associacao dos valores com o objeto construtor formBuilder-->
        <input name="url" formControlName="url" type="text" class="form-control" autocomplete="off">
        <span *ngIf="meuForm.controls.url.invalid" class="form-control alert-danger">
          Url obrigatória
        </span>
      </div>

      <div class="form-group">
        <label>Descrição</label>
        <textarea name="descricao" [(ngModel)]="foto.descricao" formControlName="descricao" class="form-control">
    </textarea>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="meuForm.invalid">Salvar</button>
      <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
      <hr>
    </div>
  </form>
</div>