* {
  margin: 0;
  padding: 0;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  h1 {
    color: #fff;
  }
}

.container {
  height: auto;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  .box {
    margin-top: 15px;
    height: auto;
    width: 350px;
    background-color: aliceblue;
    padding: 10px;

    .headerBox {
      display: flex;
      .avatar {
        width: 20%;
        img {
          height: 60px;
          width: 60px;
          border: 1px solid black;
          border-radius: 50%;
        }
      }
      .user-data {
        width: 80%;
        padding-left: 5px;
        margin-top: 10px;
        small {
          color: #8e8383;
        }
      }
    }

    .text {
      padding: 5px;
    }
  }
}
