<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/animations.css">
  <title>Animations</title>
</head>

<body>
  <div class="animations"></div>

  <script>
    var element = document.querySelector(".animations")
    console.log(element);

    element.addEventListener("animationstart", listener, false);
    element.addEventListener("animationend", listener, false);
    element.addEventListener("animationiteration", listener, false);

    function listener(e) {
      switch (e.type) {
        case "animationstart":
          console.log("Animacao Iniciada!");
          break;
        case "animationend":
          console.log("Animacao Encerrada!");
          break;
        case "animationiteration":
          console.log("Repetindo a Animacao");
          break;
      }
    }
  </script>
</body>

</html>