<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/filters.css">
  <title>Filters</title>
</head>

<body>

  <h3>Blur Effect</h3>
  <div class="blur">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Brightness Effect</h3>
  <div class="brigthness">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Contrast</h3>
  <div class="contrast">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <h3>Drop Shadow</h3>
  <div class="drop">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Gray Scale</h3>
  <div class="grayscale">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Hue Rotate</h3>
  <div class="hue_rotate">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Invert</h3>
  <div class="invert">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Saturate</h3>
  <div class="saturate">
    <img src="../img/transform1.jpg" alt="">
  </div>

  <br>

  <h3>Sépia</h3>
  <div class="sepia">
    <img src="../img/transform1.jpg" alt="">
  </div>



</body>

</html>