<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css//transitions.css">
    <title>Transitions</title>
</head>

<body>

    <div></div>

    <script>
        var element = document.getElementsByTagName('div')[0];
        setInterval(() => {
            element.style.backgroundColor = "blue";
        }, 2000);

        setTimeout(() => {
            setInterval(() => {
                element.style.backgroundColor = "red";
            }, 2000);
        }, 1000);
    </script>
</body>


</html>