<div class="panel panel-primary">
    <div class="panel-heading">
        {{ pageTitle }}
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-xs-2">Filter by: </div>
            <div class="col-xs-4">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3>Filtered by: </h3>
            </div>
        </div>

        <div class="table table-responsive">

            <button class="btn btn-primary">Find Product</button>

            <table class="table">
                <thead>
                    
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let prod of products">
                        <td>
                            {{ prod.imgUrl }}
                        </td>
                        <td>
                            {{ prod.productName }}
                        </td>
                        <td>
                            {{ prod.productCode }}
                        </td>
                        <td>
                            {{ prod.releaseDate }}
                        </td>
                        <td>
                            {{ prod.price }}
                        </td>
                        <td>
                            {{ prod.starRating }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>