<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Meus Contatos</h2>

			<a href="#" class="btn btn-success" routerLink="/contato/save">Novo</a>

			<table class="table-striped table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr ngFor="let contato of contatos">
						<td> {{ contato.nome }}</td>
						<td>{{ contato.email }}</td>
						<td>{{ contato.telefone }}</td>
						<td>
							<button class="btn btn-danger">Deletar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>