<div class="container">
    <h2>
        Salvar Contato
    </h2>

    <form>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" value="" class="form-control" placeholder="Digite o nome">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" value="" class="form-control" placeholder="Digite o email">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" name="nome" value="" class="form-control" placeholder="Digite o telefone">
        </div>    

        <button class="btn btn-success">Salvar</button>

        <button class="btn btn-primary">Voltar</button>
    </form>

</div>