<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Busca</h3>
            <div class="form-group">
                <label for="search"></label>
                <input 
                    type="search" 
                    name="search" 
                    class="form-control" 
                    placeholder="Digite algo para busca" 
                    #searchBox 
                    (keyup)="search(searchBox.value)">
            </div>
            
            <div class="list-group">
                <!--async se inscreve num observable para retornar dados em forma de array, arrays nao conseguem ler obervables-->
                <div class="list-group-item" *ngFor="let c of contatos | async"></div>
            </div>

        </div>
    </div>
</div>


