<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Meus Contatos</h2>

			<a class="btn btn-success" routerLink="/contato/save">Novo</a>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let c of contatos" [routerLink]="['/contato/save', c.id]">
						<td> {{ c.id }} </td>
						<td> {{c.nome }} </td>
						<td>{{ c.email }} </td>
						<td>{{ c.telefone }} </td>
						<td>
							<button class="btn btn-danger" (click)="onDelete(c); $event.stopPropagation()">
								Deletar
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>