<div class="container">
    <h2>Salvar Contato</h2>

    <form>
        <div class="form-group">
            <label for="name">Nome</label>
            <input 
                type="text" 
                name="nome" 
                class="form-control" 
                placeholder="Digite o nome" 
                [(ngModel)]="contato.nome">
        </div>

        <div class="form-group">
            <label for="name">Email</label>
            <input 
                type="email" 
                name="email" 
                class="form-control" 
                placeholder="Digite o email"
                [(ngModel)]="contato.email">
        </div>

        <div class="form-group">
            <label for="name">Telefone</label>
            <input 
                type="text" 
                name="telefone"
                class="form-control" 
                maxlength="14" 
                placeholder="Digite o telefone"
                [(ngModel)]="contato.telefone">
        </div>

        <button class="btn btn-success">Salvar</button>
        <a class="btn btn-default" routerLink="/">Voltar</a>
    </form>

    <button class="btn btn-warning" (click)="teste()">Objeto</button>
</div>