<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h3>Busca</h3>
            <div class="form-group">
                <label for="search"></label>
                <input 
                    type="search" 
                    name="search" 
                    class="form-control" 
                    placeholder="Digite algo para busca" 
                    [ngModel]="busca"
                    (ngModelChange)="search($event)">
            </div>
            
            <ul class="list-group">
                <!--async se inscreve num observable para retornar dados em forma de array, arrays nao conseguem ler obervables-->
                <li 
                    class="list-group-item cursor-pointer" 
                    *ngFor="let c of contatos | async" 
                    (click)="verDetalhe(c)">
                    {{ c.nome }}
                </li>
            </ul>
        </div>
    </div>
</div>


