<!--<app-ngif-directive></app-ngif-directive>-->

<!--<app-ng-switch-case> </app-ng-switch-case>-->

<!--<app-ng-for-directive></app-ng-for-directive>-->

<!--<app-ng-class>  </app-ng-class>-->

<!--<app-ng-style></app-ng-style>-->

<!--<app-elvis-operator></app-elvis-operator>-->

<app-exemplo-ng-content>
  Conteudo sendo passado da view para o renderer do Component
  <app-elvis-operator></app-elvis-operator>
</app-exemplo-ng-content>

<app-exemplo-ng-content>
  <div class="titulo">Titulo novo do painel com Selector</div>
  <div class="area-de-texto">
    <h2>Area de texto com rendering dinamico</h2>
  </div>
  <div class="area-de-texto">
    <h2>Area de texto com rendering dinamico 2</h2>
  </div>

</app-exemplo-ng-content>



