.box {
  color: #ffffff;
  background-color: #264968;
  width: 400px;
  margin: 10px;
  padding: 15px;
  border: 5px solid black;
}

.radius {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.max-min {
  width: 100%;
  max-width: 1200px;

  /* é possivel ainda utilizar essas medidas  */
  /* max-width
  max-height
  min-width
  min-height */

  border: 1px solid black;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Box-Sizing
Imagine que a gente defina um elemento com 200px de largura e 20px de margem. O elemento deve ter 200px de largura ou 220px no total?
Essa propriedade indica se o navegador deve levar bordas e margens em consideração ao definir uma largura e altura ao elemento. */

/* 
Box-Shadow

A propriedade box-shadow serve para aplicar sombras ao elemento.
Passamos a posição horizontal, vertical, nível de ofuscamento e cor da sombra.
Cuidado para não exagerar no uso dessa propriedade, pois pode deixar sua página lenta, principalmente em dispositivos móveis.

*/
.box-shadow {
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid dashed;
}

/* Outline
Outline é uma linha que existe em volta dos elementos e serve para destacá-los.

Um exemplo é a linha azul que aparece em volta do input quando clicamos nele: 

Diferente da propriedade de borda, o outline não faz parte das dimensões de um elemento.

A propriedade outline é um atalho para as seguintes propriedades:

outline-color: cor da linha;
outline-offset: distância da linha em relação à borda do elemento;
outline-style: estilo da borda, como hidden(oculto), dashed(traços) e solid(linha contínua);
outline-width: largura da linha da borda.
*/