.color {
  background-color: rgba(255, 153, 49, 0.3)
}

div {
  color: red;
  opacity: 0.5;
}

box {
  border-width: 5px;
  border-style: solid;
  border-color: #00FF00;
}

.box-title {
  border-width: 5px;
  border-style: solid;
  border-color: #00FF00; 
  /* hexadecimal */
}

.box-title-1 {
  border-width: 5px;
  background-color: rgba(222, 180, 200, 0.7);
}

.titulo-1 {
  color: rgb(0, 0, 0);
}

.box-title-2 {
  background-color: hsla(300, 30%, 30%, 0.4);
} 

/* hsla e hsl funcionam da mesma forma que rgb e rgba  */


