/* Letter Spacing
A função do letter-spacing é aplicar um espaço entre as letras do texto do elemento. */
.letter-spacing {
  letter-spacing: 1em;
}

/* Word Spacing
Define um espaçamento entre as palavras do texto. */
.word-spacing {
  word-spacing: 10px;
}

/* Line Height
Aplica a altura da linha em porcentagem. */
.line-height {
  line-height: 2em;
}

/* White Space
Esta propriedade aceita os seguintes valores:

normal - Os espaços (e tabs) em branco são ignorados pelo browser;
pre - Os espaços (e tabs) em branco são preservados pelo browser e não há quebra de linha. Novas linhas são preservadas;
pre-wrap - Os espaços (e tabs) em branco são preservados pelo browser e há quebra de linha. Novas linhas são preservadas;
nowrap - O texto é apresentado em uma única linha na tela. Não há quebra de linha até ser encontrada uma tag <br/>. Novas linhas não são preservadas, não há quebra de linha;
pre-line – Sequências de quebra de linha são preservadas. */

.white-space {
  width: 200px;
  border: solid 1px #cecece;
  /* white-space: pre; */
  white-space: nowrap;
}
