/* Fixed Position 
Quando definimos a propriedade como fixed , o elemento sera posicionado em relação a tela
Nao importa se houver conteudo suficiente para dar scroll, o elemento sempre estara fixo na tela na mesma posição */

.any-div {
  position: fixed;
}

/* Posicionamento Relativo
Quando definimos a propriedade position como “relative”, o elemento será “empurrado” em relação à sua posição normal.
Se colocarmos “right: 30px”, o elemento será empurrado por 30px a partir do seu canto direito, ou seja, irá para a esquerda.
Exemplo de um input sendo empurrado para a esquerda, fazendo-o sair da tela.

Como estamos falando de “empurrar”, não podemos atribuir propriedades opostas. Se você empurrar um elemento para a esquerda, não tem como empurrá-lo para a direita. Entre outras palavras, não podemos ter top com bottom e left com right. */
.another-div {
  position: relative;
}

/* Posicionamento Absoluto */
/* Quando definimos a propriedade position como “absolute”, o elemento será posicionado em 
relação ao seu elemento antecessor mais próximo que tenha uma posição relativa.
Como esse exemplo: * /
  div {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

Z-Index

Quando posicionamos elementos, eles basicamente se movem no eixo X e Y (horizontal e vertical). Não temos algo que indique profundidade para definir que um elemento esteja mais perto ou mais longe da tela.

Mesmo assim, podemos observar que conforme alteramos as posições dos elementos, um vai acabar ficando em cima do outro. Os elementos normalmente seguem a ordem em que foram declarados no HTML. Os que foram declarados depois sempre ficarão mais em cima.

Porém, podemos alterar essa ordem de empilhamento dos elementos com a propriedade z-index. Os elementos que tiverem um valor maior ficarão mais em cima na pilha.
*/

div{
  position: relative;
  z-index: 2;
}

/* *** É importante lembrar que a propriedade z-index só funciona em elementos que tenha a propriedade position declaradas como fixed, relative ou absolute. */

/* Float e Clear */
/* A propriedade float define quando um elemento deve flutuar. Isso significa que os textos e elementos ao seu lado o contornem ao invés de levar a sua caixa em consideração. */

