.App {
  margin-top: 20%;
  text-align: center;
}

.App-title {
  font-size: 30px;
}

.App-days,
.App-hr,
.App-min,
.App-sec {
  display: inline;
  font-size: 20px;
  margin: 10px;
}

.form-submit {
  margin-top: 2%;
}
