<!DOCTYPE html>
<html lang="en" ng-app="appAngular">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<style>
		/*se a caixa de texto for valida, a cor sera verde */
		.nome.ng-valid {
			color: green;
		}

		/*associado ao estado do form*/
		.nome.ng-dirty.ng-invalid-required {
			background-color: red;
		}

		.nome.ng-dirty.ng-invalid-minlength {
			color: orange;
		}
	</style>
</head>
<body ng-controller="Principal as ctl">
	
	<h2>Validação de Formulario</h2>
	<form ng-submit="ctl.submit()" name="alunosForm">
		Nome:
		<!--Aqui o objeto esta sendo instanciado implicitamente-->
		<input type="text" 
			   class="nome" 
			   name="anome" 
			   ng-model="ctl.aluno.nome" 
			   required 
			   ng-minlenght="4"/>

		<span ng-show="alunosForm.anome.$error.required">
			Campo Obrigatório
		</span>
		<br>

		<h3>Curso</h3>
		<input type="text" ng-model="ctl.aluno.curso"><br>
		<input type="submit" value="Enviar">
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('appAngular', [])
		.controller('Principal', [function(){

			var self = this;
			self.submit = function() {
				//code //
			}
		}]);

	</script>
</body>
</html>