<div class="container">
  <h3>Employee Form</h3>
  <div class="row">
    <div class="col-xs-6">
      <form action="" #formulario="ngForm" novalidate>
        <div class="form-group" [class.has-error]="firstName.invalid && firstName.dirty">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" placeholder="name" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
            required pattern="...+">
          <!-- #firstName="ngModal" // adicionadno instancia do modelo a variavel de referencia na view para manipulação -->
        </div>
        <div *ngIf="firstName.invalid && firstName.dirty" class="alert alert-danger">
          First name is required
        </div>



        <!-- Model : {{ model | json  }} <br>
        Angular : {{ formulario.value | json }}

        <br>
        <h3> {{ firstName.invalid }} </h3>
        <h3> {{firstName.dirty}} </h3> -->

        <!-- <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control" placeholder="last name" name="lastName"
          [(ngModel)]="model.lastName">
        </div>

        <div class="checkbox">
          <label for=""></label>
          <input type="checkbox" name="is-full-time" [(ngModel)]="model.isFullTime"> Full time Exmployee
        </div>
        <br>

        <label for=""> Payment Type</label>
        <div class="radio">
          <label for="">
            <input type="radio" name="paymentType" value="w2" checked [(ngModel)]="model.paymentType"> W2
          </label>
        </div>

        <div class="radio">
          <label for="">
            <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType"> 1099
          </label>
        </div>
      -->


        <!-- <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
          <label class="control-label"> Primary Language</label>
          <br>
          <select
            #primaryLanguage
            class="form-control"
            name="primaryLanguage"
            [(ngModel)]="model.primaryLanguage"
            (blur)="validatePrimaryLanguage(primaryLanguage.value)"
            (change)="validatePrimaryLanguage(primaryLanguage.value)">
            <option value="default">Select a language...</option>
            <option value="" *ngFor="let lang of languages">
              {{ lang }}
            </option>
          </select>
          <br> -->

          <button class="btn btn-primary" type="submit"> Ok</button>
        </div>


      </form>
    </div>
  </div>
</div>
