<div class="container">
  <h3>Angular Forms</h3>
  <div class="row">
    <div class="col-xs-6">
      <form action="" #form="ngForm" novalidate>
        <div class="form-group">
            <label for="">Name</label>
            <input type="text" class="form-control" placeholder="name" name="firstName" ngModel>
        </div>

        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="last name" name="lastName" ngModel>
        </div>

        <button class="btn btn-primary" type="submit"> Ok</button>
      </form>
    </div>
  </div>
</div>
