<div class="container">

  <h3 class="text-center">Cadastro de Nova foto</h3>


  <form class="row" (submit)="cadastrar($event)">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="">Titulo</label>
        <input #titulo="ngModel" [(ngModel)]="foto.titulo" name="titulo" class="form-control" required>
        <span *ngIf="titulo.invalid" class="form-control alert-danger">Titulo Obrigatório</span>

      </div>

      <div class="form-group">
        <label for="">Url</label>
        <input #url="ngModel" [(ngModel)]="foto.url" name="url" class="form-control" required>
        <span *ngIf="url.invalid" class="form-control alert-danger"> Digite uma url valida</span>
      </div>

      <div class="form-group">
        <label for="">Descricao</label>
        <textarea #textInvalid="ngModel" [(ngModel)]="foto.descricao" name="descricao" class="form-control" required></textarea>
        <span *ngIf="textInvalid.invalid" class="form-control alert-danger">É necessário incluir uma descricao</span>
      </div>

      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a [routerLink]="['']" class="btn btn-primary">Voltar</a>
      </div>
    </div>

    <div class="col-xs-6">
      <h4>Preview</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{foto.titulo}}</h3>
        </div>
        <div class="panel-body">
          <img [src]="foto.url" alt="">
        </div>
        <div class="panel-footer">
          {{foto.descricao}}
        </div>
      </div>
    </div>
  </form>
</div>