<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../css/font-icons.css">
  <title>Font Icons</title>
</head>
<body>
  <div class="my-icon">
    ABC
  </div>

  <div>
    ABC <i class="fa fa-arrow-right"></i> DEF
 <div>

  
</body>
</html>