/* Agora que já conhecemos como criar transições, vamos ver como criar animações.

As animações têm o mesmo efeito que as transições, mas podemos apontar aqui suas particularidades:

Gatilho
Precisamos fazer algum evento para iniciar as transições, como mudar uma classe, passar o cursor do mouse sobre o elemento, alterar a propriedade com JavaScript, etc.

As animações podem ser iniciadas sem nenhum gatilho.

Repetição
Podemos fazer com que uma animação se repita ou até mesmo definir um looping infinito, diferente das transições que acabam assim que a propriedade chegar ao valor final.

Quadros de Animação (keyframes)
As transições apenas fazem uma propriedade ir de um valor X para um valor Y.

Nas animações podemos definir vários valores intermediários */

.animations {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

/* Para isso declaramos "@keyframes" e o nome da nossa animação.

Dentro do keyframe declarado nós precisamos declarar o início e o fim da animação. Para isso utilizamos o "from" e "to".

Dentro de "from" indicamos os valores iniciais das propriedades que serão animadas.

Dentro de "to" indicamos os valores finais das propriedades que serão animadas. */

/* Podemos evitar isso com a propriedade "animation-fill-mode". Ela indica se o elemento deve permanecer como a sua forma inicial ou final enquanto a animação não estiver sendo executada.

Podemos passar o valor "forwards" para o elemento ficar como o seu estado final.

Podemos passar o valor "backwards" para o elemento ficar como o seu estado inicial.

Para pausar uma animação, podemos utilizar a propriedade "animation-play-state", que aceita os valores "paused" e "running".

Loopings
Podemos indicar quantas vezes queremos que a animação ocorra. Para isso, utilizamos a propriedade "animation-iteration-count", onde podemos passar um número, como 5, ou "infinite" caso a gente queira que a animação se repita sem parar. */

/* Direção da Animação
Podemos também alterar a direção da animação de duas maneiras: indicando que ela faça o inverso ou que ela vá na direção normal e depois reverta. */