/* Filtros
Os filtros são utilizados para aplicar efeitos visuais nos elementos. É mais utilizado no elemento <img>.

São efeitos iguais aos presentes em softwares de edição de imagem, onde podemos alterar a saturação, brilho, deixar uma imagem com escala cinza, etc. */

Sintaxe Basica

seletor {
  filter: nome_do_filtro( valor );
}

img {
  height: 200px;
  width: 400px;
}

/* Blur (px)
Borra a imagem. Quanto maior o valor , maior o borrao */

.blur {
  /* sempre em px a densidade */
  filter: blur(20px)
}

/* Brightness(%)

Ajusta o brilho da imagem.

0% deixa a imagem totalmente preta.

100% representa a imagem original.

Valores acima de 100% deixarão a imagem mais clara. */

.brigthness {
  /* filter: brightness(30%) */
  filter: brightness(130%)
}

/* Contrast (%)
Ajusta o contraste da imagem, isso é, a distância entre a cor mais clara e a mais escura presente na imagem.
0% deixa a imagem completamente preta.
100% representa a imagem original.
Valores acima de 100% deixarão a imagem com menos contraste */

.contrast {
  filter: contrast(45%)
}

/* drop-shadows(posição_horizontal posição_vertical dispersão cor) */
/* Possibilita a aplicação de sombras na imagem, com efeito igual às propriedades "text-shadow" e "box-shadow".

Passamos a posição horizontal, a posição vertical, valor de dispersão e a cor da sombra.

Para ter o mesmo efeito que o exemplo abaixo, é necessário o uso de uma imagem com fundo transparente. */

.drop {
  filter: drop-shadow(5px 15px 15px blue)
}

/* Gray Scale (%)
Aplica o filtro para tornar a imagem mais acinzentada 
0% para imagem natural e 100 para imagem totalmente cinza  */
.grayscale {
  filter: grayscale(100%)
}

/* Hue Rotate ( angulo ) 
Altera a matriz de cores da imagem, para isso é necessario conhecer a roda de cores */
/* O circulo possui 360 graus . O valor que passamos para a função hue-rotate é o angulo que queremos girar da roda de coras da imagem. O valor deve estar no range de 0 a 360. */
.hue_rotate {
  filter: hue-rotate(230deg)
}
