/* Font Icons
Prática que nos permite criar ícones. Nesta técnica nós utilizamos fontes.

A vantagem é que as fontes podem ser alteradas por CSS, como a cor, tamanho, sombra, etc. E tudo isso sem perder a qualidade!

Para isso utilizamos os Pseudo Elementos! */
.my-icon::after {
  content: "\00a9"; 
  /* copyright */
}

i {
  color: red;
  font-size: 20px;
  text-shadow: 1px 1px 2px blue;
}

/* A vantagem de utilizar Font Icons ao invés de Ícones feitos com imagens é a possibilidade de edição com CSS, tamanho muito menor e a possibilidade de redimensionar o quanto quisermos sem perda de qualidade.

A única desvantagem seria a impossibilidade de utilizar várias cores num mesmo ícone. Isso não é algo grande, já que hoje em dia é mais comum o uso de ícones mais simples com apenas uma cor */