/* Gradient  */
/* Linear: A cor de início começa em um lado e a cor de parada termina no lado oposto. Podemos indicar a direção do gradiente. O padrão é de cima para baixo.

Radial: A cor de início começa no centro. Podemos indicar se queremos uma forma circular ou elíptica. O padrão é a elíptica. */
.gradient {
  height: 200px;
  /* Se quisermos indicar a direção, descrevemos o ponto final de parada. */
  /* background: linear-gradient(to right, #ff0000, #101010) */

  /* Também podemos utilizar ângulos para indicar a direção. */
  /* background: linear-gradient(230deg, #ff0000, #101010) */

  /* Podemos indicar quando uma cor deve ter seu ponto de parada: */
  /* background: linear-gradient(230deg, #ff0000, #101010 20%) */

  /* varias cores */
  /* background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, rgb(214, 24, 214)); */

  /* indicar que se repitam */
  background: repeating-linear-gradient(to right, red, orange, yellow, green, blue, indigo, rgb(216, 32, 216));
}

/* .radial-gradient {
  height: 200px; */
   /* background: radial-gradient(red, green); */
   /* background: radial-gradient(red, green 30%) */
   /* background: radial-gradient(ellipse, red, green) */
   /* background: repeating-linear-gradient(red, green 25%) */
/* } */

/* Junto podemos indicar a posição. Temos os seguintes valores:

closest-side;
farthest-side;
closest-corner;
farthest-corner. */
.radial-gradient {
  height: 400px;
   /* background: radial-gradient(closest-corner at 20% 50%, red, green) */
  background: repeating-radial-gradient(red, orange, yellow, green, blue, indigo, rgb(216, 32, 216)25%)
}

