/* As transições fazem parte do CSS3 e nos permitem fazer com que os valores das propriedades sejam alterados suavemente.

Imagine a largura de uma Div. Em um momento queremos que ela tenha 200px de largura, e num segundo momento queremos que ela tenha 300px. Ao invés de ir de um valor para o outro de uma vez, podemos fazer com que haja algo mais suave, fazendo a largura ir crescendo até chegar aos 300px, ou seja, havendo uma suave transição. */

/* A importancia das Transições
As transições são a base para vermos como criar animações. Mar por quê devemos dar atenção às transições e animações?

Tudo está em movimento em nosso mundo real. Prestamos atenção ao que se move e não damos muita importância a objetos parados, já que sabemos que não irão a lugar algum.

Criar transições nos ajudam a fazer o usuário focar nos elementos importantes da nossa página e entender melhor como alguma funcionalidade funciona, dando mais realidade aos elementos.

Mas não devemos exagerar. Criar várias animações desnecessárias deixará seu layout muito carregado e a página ficará lenta, principalmente em dispositivos móveis, dando uma experiência muito desconfortável ao usuário e possivelmente criando uma interface complicada. */

.light-transition {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 5px solid black;
    background-color: red;
    width: 200px;
    height: 100px;
    
    transition: width 1s;
}

.light-transition:hover {
    width: 300px;
}

/* No primeiro seletor definimos a aparência inicial da nossa Div.

No final dessa regra nós utilizamos a propriedade "transition". Nela indicamos que queremos que haja transição na propriedade "width", com duração de 1 segundo.

Em seguida precisamos alterar o valor de "width". Nós utilizamos outro seletor de Div, indicando o ":hover". Assim, a propriedade "width" terá seu valor alterado quando passarmos o cursor do mouse sobre a Div. */
/* Note que ao invés da largura ir de um valor ao outro de uma só vez, houve uma suave transição entre os a valores no tempo especificado. */

/* Transitions with Javascript */

.js-transition {

    position: absolute;
    top: 150px;
    left: 10px;
    border: 5px solid black;
    background-color: orange;
    width: 200px;
    height: 100px;

    transition: width 1s, background-color 1s;
}

.js-transition:hover {
    transition: all 1s;
}

/* Curva de velocidade de transição
Quando criamos uma transição, temos algo chamado de "Curva da Velocidade de Transição".

Essa propriedade também é muito presente em softwares de animação, também conhecida como "Curva de Animação". Ela indica a velocidade em que a animação será realizada.

Temos alguns valores pré-definidos: */
/* ease a transição começa acelerando e termina desacelerando

linear a transição mantém uma velocidade constante

ease-in a transição começa acelerando e mantém uma velocidade constante até o final

ease-out a transição começa com uma velocidade constante e vai desacelerando no final

ease-in-out a transição é lenta no começo e no final, mantendo uma velocidade constante no meio

cubic-bezier(n,n,n,n) permite que a gente defina nossos próprios valores para a curva da velocidade */