div {
    position: absolute;
    background-color: red;
    border: 5px solid black;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;

    transition: ease width 1s;
}

div:hover {
    width: 400px;
}