<!-- <div class="well hovwerwell thumbnail"> -->

<div class="card" [routerLink]="['/events', event.id]">
  <div class="card-block">
    <h4 class="card-title">{{event.name}}</h4>
    <div class="event-data">
      <p>Data :
        <span>{{ event?.date }}</span>
      </p>
      <p>Time :
        <span>{{ event?.time }}</span>
      </p>
      <div [ngSwitch]="event?.time">
        <span [class.green]="isStart()" *ngSwitchCase=" '8:00 am' "> Early Start </span>
        <span [ngClass]=" {orange: event.time === '10:00 am', bold: event.time === '10:00 am' } " *ngSwitchCase=" '10:00 am' ">
          Late Start
        </span>
        <span *ngSwitchDefault> Normal Start </span>
      </div>
      <p>
        Price : $
        <span>{{ event?.price }}</span>
      </p>
      <hr>
      <div *ngIf="event?.location">
        <p>Location</p>
        <p>Address:
          <span>{{ event?.location?.address }}</span>
        </p>
        <p>City:
          <span>{{ event?.location?.city }}</span>
        </p>
        <p>Country:
          <span>{{ event?.location?.country }}</span>
        </p>
      </div>
    </div>
    <button class="btn btn-primary" (click)="handleClick()">Click</button>
  </div>
</div>
