<!-- <div class="well hovwerwell thumbnail"> -->
<div class="panel panel-primary">
  <h2 class="panel-heading">{{event.name}}</h2>
  <div class="panel-body">
    <div>
      Data : {{ event?.date }}
    </div>
    <div>
      Time : {{ event?.time }}
    </div>

    <div>
      Price : ${{ event?.price }}
    </div>

    <div>
      <span>Location : {{ event?.location?.address }}</span>
      <span>Location : {{ event?.location?.city }}</span>
      <span>Location : {{ event?.location?.country }}</span>
    </div>
  </div>
</div>

<button class="btn btn-primary" (click)="handleClick()">Click</button>
<br>
