<section class="two-way-data-binding">
    <article>
      <h3>Two Way Data Binding</h3>

      <input type="text"
      [value]="nome"
      (input)="nome = $event.target.value"
      >
      <br>
      
      <input type="text"
      [ngModel]="nome"
      (ngModelChange)="nome = $event"
      >
      <br>

      <input type="text" [(ngModel)]="nome">


      <p>Voce digitou {{ nome }} </p>

      <div>
        <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>

        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">

      </div>

    </article>
  </section>