<!DOCTYPE html>
<html lang="en" ng-app="appAngular">
<head>
	<meta charset="UTF-8">
	<title>Radio Buttons</title>
</head>
<body ng-controller="Principal as ctl">

	<h3>Formulario</h3>
	<form ng-submit="ctl.submit()">
		Nome: 
		<input type="text" ng-model="ctl.nome"><br>
		Curso<br>

		<select name="" id="" ng-model="ctl.curso"
				ng-options="c.descricao for c in ctl.cursos"
		></select><br>

		Periodo<br>
		<label for="">
			<input type="radio" name="periodo" ng-model="ctl.periodo" value="manha">Manhã
		</label>

		<label for="">
			<input type="radio" name="periodo" ng-model="ctl.periodo" value="noite">Noite
		</label>

		<input type="submit" value="Enviar">
	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('appAngular', [])
		.controller('Principal', [function(){
			
			var self = this;

			self.cursos = [
				{ id: 1, descricao : 'Java' },
				{ id: 2, descricao : 'NodeJS' },
				{ id: 3, descricao : 'Javascript' },
				{ id: 4, descricao : 'Phyton' }
			];

			self.submit = function() {
				alert('Dados de usuario' + self.nome + '\nDados do Curso' + self.curso.descricao + '\nPeriodo' + self.periodo);
			};
		}]);
	</script>
</body>
</html>