<div class="jumbotron">
  <h1 class="text-center"> {{ title }}</h1>
</div>

<div class="container">

  <div class="row">
    <div class="row">
      <div class="col-xs-12">
        <p *ngIf="mensagem.length" class="alert	alert-info">{{mensagem}}</p>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-btn">
          <a [routerLink]="['/cadastro']" class="btn btn-primary"> Nova Foto</a>
        </span>
        <input #inputBusca (keyup)="0" type="search" class="form-control" placeholder="Digite algo para busca">
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <panel *ngFor="let foto of fotos | filtroPorTitulo:inputBusca.value" [titulo]="foto.titulo" class="col-xs-2 text-center">
      <a [routerLink]="['/cadastro', foto._id]">
        <foto titulo="{{foto.titulo}}" url="{{foto.url}}"> </foto>
      </a>
      
      <button class="btn btn-danger btn-block" (onclick)="remover(foto)">Remover</button>
    </panel>
  </div>


</div>