<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" [class.active]="aba == 'active'" (click)="aba = 'active'">Active</a>
  <a class="flex-sm-fill text-sm-center nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
  <a class="flex-sm-fill text-sm-center nav-link" [class.active]="aba == 'maps'" (click)="aba = 'maps'">Maps</a>
  <a class="flex-sm-fill text-sm-center nav-link" [class.active]="aba == 'about'" (click)="aba = 'about'">About</a>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa Ativado</p>
  <p *ngSwitchCase="'lista'">Modo Lista Ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
