.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}
.section-boxes {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
  height: 300px;
  width: 500px;
  background-color: blue;
}
.section-boxes .box-1,
.section-boxes .box-2,
.section-boxes .box-3 {
  background-color: red;
  height: 80px;
  width: 80px;
}
