
.container-flex {
    display: flex;
    border: 1px solid black;
    
    /* flex-direction: row;
    flex-wrap: wrap; */

    /* é possivel criar um shortcut para flex-direction e flex-wrap utilizando o "flex-flox: wrap && colum ", com essa mescla das propriedades */
}

.flex-items {
    font-size: 1.2em;
    color: #fff;
    padding: 1em;
    text-align: center;
    flex-grow: 1; 
    /* tamanho do item flexivel */
    display: flex;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7 {
    flex-grow: 1;
    
}

.box-1 {
    background-color: yellow;
    
}

.box-2 {
    background-color: green;
    flex-grow: 3;
}

.box-3 {
    background-color: red;
    order: 1;
}

.box-4 {
    background-color: orange;
}

.box-5 {
    background-color: blue;
    order: 3;
}

.box-6 {
    background-color: lightgray;
}

.box-7 {
    background-color: pink;
}