<nav>
  <div class="nav-wrapper">
    <a routerLink="" href="#" class="brand-logo right">NG2 Routes</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['curso/', idCurso.value]">Cursos com Id</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <p>Entre com o id do Curso</p>
  <input #idCurso>
  <router-outlet></router-outlet>
  <!--Isso permite que o angular 2 tenha acesso a rotas-->
</div>
