<% include ../includes/header.ejs %>

    <div>
        <div class ="container min-container">
           
           <!-- INSIRA O CÓDIGO AQUI -->
           
           <a href="/produtos/form" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Novo livro</a>
        </div>
    </div>

<% include ../includes/footer.ejs %>

